body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'akatab', sans-serif;
    margin-bottom: 300px;
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    height: 100px;
    gap:100px;
    text-align: center;
    align-items: center;
    border: 1px solid black ;
}


.header button {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.header .login-button{
    width: 200px;
    height: 50px;
    margin-right: 50px;
    font-size: 30px;
}

.Search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    flex: 1;
}

.category img{
    width: 30px;
    height: 30px;
}

.Search input {
    flex: 1;
    max-width: 500px;
    height: 48px;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.Search button {
    text-align: center;
    margin: 0;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}

.logo button {
    border: none;
    background-color: white;
}

.body{
    position: relative;
    height: 100vh;
}

.category {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    bottom: 0;
    border: 1px solid black;
    height: 100vh;
}

.category-button {
    width: 300px;
    height: 100px;
    background-color: white;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
}   

.category-button:hover{
    background-color: rgb(240, 240, 240);
}

footer{
    height: 300px;
    border: 1px solid black;
}

.active {
    background-color: rgb(255, 0, 0) !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px !important;
}

.menuItems {    
    position: absolute;
    top: 0;
    left: 300px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 50px;
    gap: 100px;
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    padding: 10px;
    border: 1px solid black;
    width: 350px;
    height:450px;
}

.menuItem img{
    width: 100%;
}

.price-name {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0;
}

.name {
    width: 200px;
}

.price{
    color: red;
    font-weight: bold;
}